h1 {
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: teal;	
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
	color: teal;
}

h3 {
	display: block;
    font-size: 1.33em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
	color: teal; 
}

h4 {
	display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
	color: teal;
}

h5 {
	display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
	color: teal;
}

h6 {
	display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: teal;
}

p, li {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

ul {
	height: 100%;
	float: right;
}

li {
	text-align: center;
	padding: 30px 15px 30px 15px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	width: 100%;
	border-bottom: 2px;
	border-color: #4aaaa5;
	max-width: 960px;
	clear: both;
}

body {
	background-image: url("../../assets/images/concrete_seamless.png");
	margin: 0;
	width: 100%;
	max-width: 960px;
	height: 100%;
}
  
  /*Nav Bar*/

header {
	background-color: #fff;
	color: white;
	top: 0;
	width: 100%;
	border-bottom: 2px;
	border-color: #ccc;
	height: 81px;
	max-width: 960px;
}

#name_tag {
	background-color: #4aaaa5;
	margin: 0 0 0 100px;
	padding:30px;
	width: 180px;
	color: white;
	float: left;
}

.sidebar {
	width: 100%;
	max-width: 270px;
	float: right;
	right: 200px;
	background-color: white;
}

.links {
	float: right;
	margin-right: 5%;
	max-width: 270px;
	width: 100%;
	color: gray;
	font-family: 'Georgia', Times, Times New Roman, serif;
	height: 80px;
	background-color: white;
}

#about_me {
	width: 100%;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.about_me {
	margin: 20px 10px 20px 100px;
	max-width: 650px;
	width: 100%;
	background-color: white;
	padding: 20px;
	overflow: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#kyle {
	margin-right: 10px;
}

#my_story {
	line-height: 21px;
	font-size: 11px;
}

#about {
	float: left;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#portfolio {
	float: left;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#contact {
	float: left;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.connections {
	float: right;
	background-color: white;
	padding: 20px;
	color: gray;
	height: 100%;
	width: 100%;
	max-width: 270px;
}

#connect {
	margin: 0 10px 10px 10px;
}

.contact_me{
	background-color: white;
	max-width: 650px;
	width: 100%;
	float: left;
	margin-left: 100px;
	line-height: 21px;
	padding: 20px;
}

#contact_me-tag {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.portfolio {
	overflow: auto;
	max-width: 650px;
	float: left;
	margin-left: 100px;
	background-color: white;
	padding: 20px;
}

#portfolio-tag {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.port-row-1 {
	max-width: 670px;
	width: 100%;
	height: 200px;
	float: left;
	margin: 10px;
	clear: both;
}

.hangman {
    height: 200px;
    width: 200px;
    float: left;
    margin: 0 10px 0 0;
}

#hangman {
	float: left;
	margin: 20px 10px 10px 0px;
	height: 200px;
	width: 200px;
}

#hangman-tag {
	background-color: #4aaaa5;
	width: 200px;
	height: 30px;
	color: white;
	text-align: center;
	padding-top: 10px;
	z-index: 2;
	position: absolute;
	margin-top: 160px;
}

.rpg {
	height: 200px;
    width: 200px;
    float: left;
}

#rpg {
	float: left;
	margin: 20px 20px 10px 10px;
	height: 200px;
	width: 200px;
}

#rpg-tag {
	background-color: #4aaaa5;
	width: 200px;
	height: 30px;
	color: white;
	text-align: center;
	padding-top: 10px;
	z-index: 2;
	position: absolute;
	margin-left: 10px;
	margin-top: 160px;

}

.port-row-2 {
	max-width: 670px;
	width: 100%;
	height: 200px;
	float: left;
	margin: 10px;
}

.trivia {
	height: 200px;
    width: 200px;
    float: left;
    margin: 0 10px 0 0;
}

#trivia {
	float: left;
	margin: 20px 10px 10px 0px;
	height: 200px;
	width: 200px;
}

#trivia-tag{
	background-color: #4aaaa5;
	width: 200px;
	height: 30px;
	color: white;
	text-align: center;
	padding-top: 10px;
	z-index: 2;
	position: absolute;
	margin-top: 160px;
}

.rutgers {
	height: 200px;
    width: 200px;
    float: left;
}

#rutgers {
	float: left;
	margin: 20px 20px 10px 10px;
	height: 200px;
	width: 200px;
}

#rutgers-tag {
	background-color: #4aaaa5;
	width: 200px;
	height: 30px;
	color: white;
	text-align: center;
	padding-top: 10px;
	z-index: 2;
	position: absolute;
	margin-left: 10px;
	margin-top: 160px;
}

.port-row-3 {
	max-width: 670px;
	width: 100%;
	height: 180px;
	float: left;
	margin: 10px;
}

.r-p-s {
	height: 200px;
    width: 200px;
    float: left;
    margin: 0 10px 0 0;
}

#r-p-s {
	float: left;
	margin: 20px 10px 10px 0px;
	height: 200px;
	width: 200px;
}

#r-p-s-tag {
	background-color: #4aaaa5;
	width: 200px;
	height: 30px;
	color: white;
	text-align: center;
	padding-top: 10px;
	z-index: 2;
	position: absolute;
	margin-top: 160px;
}

.contact_me-tag {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.push {
	height: 4em;
	clear: both;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 44px;
	z-index: 3;
}

.footer {
	background-color: #666;
	border-color: #4aaaa5;
	height: 4em;
	width: 100%;
	z-index: 3;
}

#copyright {
	color: gray;
	text-align: center;
	width: 100%;
	margin: 0;
	font-size: 10px;
	padding-top: 15px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

@media screen and (max-width: 980px) {

} 

@media screen and (max-width: 768px) {
	.sidebar {
		clear: both;
	}
	.about_me {
		clear: both;
	}
	.portfolio {
		clear: both;
	}

}

@media screen and (max-width: 640px) {
	header {
		position: static;
	}
	#nametag {
		width: 100%;
	}

}